apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: projectinitializes.redhatcop.redhat.io
spec:
  group: redhatcop.redhat.io
  names:
    kind: ProjectInitialize
    listKind: ProjectInitializeList
    plural: projectinitializes
    singular: projectinitialize
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ProjectInitialize is the Schema for the projectinitializes API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ProjectInitializeSpec defines the desired state of ProjectInitialize
          properties:
            cluster:
              type: string
            desc:
              type: string
            displayName:
              type: string
            env:
              type: string
            namespaceDetails:
              properties:
                annotations:
                  additionalProperties:
                    type: string
                  type: object
                labels:
                  additionalProperties:
                    type: string
                  type: object
              type: object
            quotaSize:
              type: string
            team:
              type: string
          required:
          - desc
          - displayName
          - env
          - team
          type: object
        status:
          description: ProjectInitializeStatus defines the observed state of ProjectInitialize
          properties:
            namespaceCreated:
              type: boolean
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
